@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Josefin+Sans:400,700|Montserrat:300,400,700,800&display=swap");
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}

.title{
  font-family: Abril Fatface;
  padding-top: 20px;
}

.inner-width{
  padding-top: 1%;
}

.gallery-section .image{
  flex: 25%;
  overflow: hidden;
  cursor: pointer;
}

.gallery-section .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.gallery-section .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

@media screen and (max-width:960px) {
  .gallery-section .image{
    flex: 33.33%;
  }
}

@media screen and (max-width:768px) {
  .gallery-section .image{
    flex: 50%;
  }
  .img3{
    padding-top: 20px;
  }
}

@media screen and (max-width:480px) {
  .gallery-section .image{
    flex: 100%;
  }
  .img2{
    padding-top: 20px;
  }
}

@media screen and (max-width:576px) {
  .img3{
    width:20%
  }
}